# Homework 3

## Question 2 [5 points]

Next, in order to recreate the figure in the talk, we're going to find the monthly anomaly averaging across years. You should end up with the following data frame after writing your function and running the cell (only the first few months are shown, it should have data for all 12 months):

In [1]:
# import libraries
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
import os

from pathlib import Path

# Small style adjustments for more readable plots
plt.style.use("seaborn-whitegrid")
plt.rcParams["figure.figsize"] = (8, 6)
plt.rcParams["font.size"] = 14

# import data
DATA_DIR = Path.home()/Path('shared/climate-data')

co2_file = DATA_DIR / "monthly_in_situ_co2_mlo_cleaned.csv"
data = pd.read_csv(co2_file, na_values=-99.99).dropna()

/tmp/ipykernel_334/1522026286.py:11: MatplotlibDeprecationWarning: The seaborn styles shipped by Matplotlib are deprecated since 3.6, as they no longer correspond to the styles shipped by seaborn. However, they will remain available as 'seaborn-v0_8-<style>'. Alternatively, directly use the seaborn API instead.
  plt.style.use("seaborn-whitegrid")

In [2]:
def detrend(f):
    # BEGIN SOLUTION
    detrended_xarr = pd.concat([f.year, f.month, f.c02-f.c02.mean()], axis=1)
    # END SOLUTION
    return detrended_xarr

dy = data.groupby('year')
c02anomaly = dy.apply(detrend)
display(c02anomaly)
monthly_anomaly = c02anomaly.groupby('month').mean()[['c02']]
monthly_anomaly

/tmp/ipykernel_334/2436968956.py:8: FutureWarning: Not prepending group keys to the result index of transform-like apply. In the future, the group keys will be included in the index, regardless of whether the applied function returns a like-indexed object.
To preserve the previous behavior, use

	>>> .groupby(..., group_keys=False)

To adopt the future behavior and silence this warning, use

	>>> .groupby(..., group_keys=True)
  c02anomaly = dy.apply(detrend)

     year  month     c02
2    1958      3  0.3675
3    1958      4  2.1175
4    1958      5  2.1775
6    1958      7  0.5275
7    1958      8 -0.4025
..    ...    ...     ...
756  2021      1 -2.0180
757  2021      2 -0.7180
758  2021      3 -0.0480
759  2021      4  1.0520
760  2021      5  1.7320

[754 rows x 3 columns]

            c02
month
1     -0.683835
2      0.076121
3      0.874238
4      2.240270
5      2.864155
6      2.299297
7      0.792919
8     -1.195018
9     -2.851367
10    -2.857316
11    -1.453272
12    -0.159303